{% extends 'base.html' %}

{% block content %}
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .container-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    table {
      width: 95%; /* Adjust the width as needed */
      margin: 0 auto; /* Center the table horizontally */
    }

    button {
        display: inline-block;
        color: #252537;
      
        padding: 0 10px;
        background: #fff7f6;
        border-radius: 5px;
        
        outline: none;
        border: none;
      
        cursor: pointer;
        text-align: center;
        transition: all 0.2s linear;
        
        margin: 7% auto; 
        letter-spacing: 0.05em;
    } 

    .centered-button {
        justify-content: center;
        align-items: center;
        margin: 7% auto;
    }
    
    /* buttons hover */
    button:hover {
        transform: translatey(3px);
        box-shadow: none;
    }
    
    /* buttons hover Animation */
    button:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }
    @keyframes ani9 {
        0% {
            transform: translateY(3px);
        }
        100% {
            transform: translateY(5px);
        }
    } 
    th, td {
        padding: 5px;
    }
</style>
<div class="container-body">
    <h1 align="center">Snack Supply 🍨🍫🍩🍟🤤</h1>
        <br>

        <h3 align="center">Name:</h3>
        <p align="center">{{name}}</p>
        <br>

        <h3 align="center">Class:</h3>
        <p align="center">{{class}}</p>
        <br>

    <table bgcolor="black" width="1200">
        <caption><h3>Ada {{banyak_items}} jenis Snacks yang ter-supply di dalam pantry kamu! Mau Snack apa hari ini?</h3></caption>
        <tr bgcolor="#7CA1D9">
            <th width="100">Name</th>
            <th width="100">Amount</th>
            <th width="800">Description</th>
            <th width="100">Date Added</th>
            <th>Finished Already?</th>
        </tr>
        </style>
        {% for item in items %}
            <tr bgcolor="#BEC3EA">
                <td align="center">{{item.name}}</td>
                <td align="center">
                    <table width="100">
                    <th width="40" align="right">{{item.amount}}</th>
                    <th width="40" align="center">
                    <a href="/add_item/{{item.pk}}/">
                        <button class="custom-button">
                            +
                        </button>
                    </a><br>
                    <a href="/min_item/{{item.pk}}/">
                        <button class="custom-button">
                            -
                        </button>
                    </a>
                    </th>
                    </table>
                </td>
                <td>{{item.description}}</td>
                <td align="center">{{item.date_added}}</td>
                <td align="center">
                    <a href="/remove_item/{{item.pk}}/">
                        <button class="custom-button">
                            Yummy! 😋
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <a href="{% url 'main:create_item' %}">
        <button class="centered-button">
            Add More Snacks
        </button>
    </a>

    <h5 align="center">Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:logout' %}">
        <button class="centered-button">
            Logout
        </button>
    </a>
</div>

{% endblock content %}