<h1>Snack Supply</h1>

<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<p>
<p>
    <table bgcolor="black" width="1200">
        <caption><h3>Snacks</h3></caption>
        <tr bgcolor="#a4b9c4">
            <th width="100">Name</th>
            <th width="100">Amount</th>
            <th width="1000">Description</th>
        </tr>
        {% for snack in snacks %}
        <tr bgcolor="fffef2">
            <td align="center">{{snack.name}}</td>
            <td align="center">{{snack.amount}}</td>
            <td>{{snack.description}}</td>
        </tr>
        {% endfor %}
    </table>