{% extends 'base.html' %}

{% block content %}
<h1>Snack Supply</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

<table bgcolor="black" width="1200">
    <caption><h3>Ada {{banyak_items}} jenis Snacks yang ter-supply di dalam pantry kamu! Mau Snack apa hari ini?</h3></caption>
    <tr bgcolor="#46B2B5">
        <th width="100">Name</th>
        <th width="100">Amount</th>
        <th width="800">Description</th>
        <th width="100">Date Added</th>
    </tr>

    {% for item in items %}
        <tr bgcolor="#8FD5D5">
            <td align="center">{{item.name}}</td>
            <td align="center">{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td align="center">{{item.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add More Snacks
    </button>
</a>
{% endblock content %}